@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
}

.Container{
    display: flex; 
    width: 100%;
    height: 100vh; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;}

.Container .Title-Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    background-color: red;
    width: 25%; 
    height: 7%; 
    border-radius: 15px; 
    border: 0px; 
    z-index: 3;
}

.Health-Bar{
    position: absolute;
    width: 100%;
    height: 10vh; 
    background-color: red; 
    top: 0; 
    left: 0; 
    transition: all 3s ease;
}

.Green-Bar{
    position: relative;
    width: 100%;
    height: 100%; 
    background-color: green;
}

.active .Green-Bar{
    opacity: 1; 
}

.Health-Text{
    position: absolute; 
    top: 25px; 

    z-index: 2;
}

#tutorial{
    position: absolute;
    right: 0;
    bottom: 0; 
    object-fit: contain; 
    width: 50%;
    height: 50%; 
    opacity: 0;
    transition: all 3s ease;


}

.active{
    opacity: 1;
}

#tutorial-text{
    position: absolute;
    left: 15vw; 
    bottom: 20vh; 
    opacity: 0;
    transition: all 3s ease;



}


